<%include ../partials/header.ejs%>
<div class="container products">
<h1>Products</h1>
	<div>
		<%products.forEach((product,index) => {%>
		<section class="product-section">
			<a href="#" class="product-image">
				<img src="<%=product.image.src%>" 
					alt="<%=product.image.alt%>" />
			</a>
			<div class="product-text">
				<h3 class="product-name"><%=product.name%></h3>
				<ul class="product-features">
					<%product.features.forEach((feature) => {%>
						<li><%=feature%></li>
					<%});%>
				</ul>
				<p class="product-details"><%=product.details%></p>
				<p class="product-price">£<%=product.price%></p>
			</div>
		</section>
		<%});%>
	</div>
</div>
<%include ../partials/footer.ejs%>