<%include ../partials/header.ejs%>
<div class="container products">
	<div class="row" id="top-section">
		<div class="col-12">
			<h1 class="display-1">Products</h1>
			<p>
				All our products are vans with all four wheels still attached. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</div>
	</div>

	<div class="row">
		<%products.forEach((product,index) => {%>
			<section class="col-12 product-section py-3 border-bottom">
				<div class="row">
					<div class="col-12 col-lg-5 d-flex flex-column justify-content-around">
						<a href="#">
							<img class="img-thumbnail img-fluid" src="<%=product.image.src%>" 
								alt="<%=product.image.alt%>" />
						</a>
					</div>
					<div class="col-12 col-lg-7 d-flex flex-column justify-content-around">
						<h3><%=product.name%></h3>
						<ul class="list-group flex-row">
							<%product.features.forEach((feature) => {%>
								<li class="list-group-item feature"><%=feature%></li>
							<%});%>
						</ul>
						<p class="product-details"><%=product.details%></p>
						<p class="product-price">£<%=product.price%></p>
					</div>
				</div>
			</section>
		<%});%>
	</div>
</div>
<%include ../partials/footer.ejs%>